#top{
  margin-top: 40px;
}

.big {
  padding: 20px;
  background-color: #000;
}
/*.music {
  padding: 20px, 20px, 20px;
  background-color: #000;
}*/
h1, h2, h3, h4, h5, h6, li, p {
  font-family: 'Raleway', sans-serif;
}
.headline{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.journalist{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.tagline{
  margin-top: -20px;
  position: relative;
}

.head-pic {
  border: 8px solid grey;
}

#soundcloud {
  background-color: #000;
}

.top-buffer-10 { margin-top:10px; }
.top-buffer-20 { margin-top:20px; }
.top-buffer-40 { margin-top:40px; }

.home-shot .img-responsive {
    margin: 0 auto;
}

.spacer30 {
  margin: 30px;
}

/*ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}*/
.gallery img{
  /*min-width: 100px;
  min-width: 100px;*/
  max-width: 160px;
  max-height: 160px;
  padding: 40px;
}

.gallery-list {
  /*max-width: 800px;*/
  background-color: #222;
  padding-right: 30px;
  /*padding-bottom: 30px;*/
}
/*.galer-list ui li {
  padding: 20px;
  min-width: 800px:
}*/
.controls{
  width:50px;
  display:block;
  font-size:12px;
  padding-top:8px;
  font-weight:bold;
}
.next {
  float:right;
  text-align:right;
}
.previous {
  float:left;
  text-align:left;
  margin-top: -40px;
}

.gallery-popup{
  padding: 8px;
}

.contact{
  border-style: solid;
  boder-coler: white;
  margin-top: 50px;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

.big-type{
  font-size: 22px;
}
