img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#top{
  margin-top: 40px;
}

.big {
  padding: 20px;
  background-color: #000;
  opacity: .86;
}

.social-icons {
  margin-top: -10px;
  margin-bottom: 60px;
  padding-bottom: 40px;
  background-color: #000;
  opacity: 1;
}
/*.music {
  padding: 20px, 20px, 20px;
  background-color: #000;
}*/
h1, h2, h3, h4, h5, h6, li, p {
  font-family: 'Raleway', sans-serif;
}
.headline{
  font-family: 'Raleway', sans-serif;
  /*font-size: 24px;*/
  font-size: 160%;
}

.journalist{
  font-family: 'Raleway', sans-serif;
  font-size:60%;
}

.tagline{
  margin-top: -20px;
  position: relative;
}

.head-pic {
  border: 8px solid grey;
}

.bio-pic {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 8px solid grey;
}

#soundcloud {
  background-color: #000;
}

.top-buffer-10 { margin-top:10px; }
.top-buffer-20 { margin-top:20px; }
.top-buffer-40 { margin-top:40px; }

.home-shot .img-responsive {
    margin: 0 auto;
}

.spacer30 {
  margin: 30px;
}

/*ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}*/


.credits li {
  /*align-self: center;*/
  list-style:none;
  font-size: 95%;
  display: inline-block;
  float: left;
  margin: 0;
  width: 50%;
  padding: 10px;
}

#thumbs li {
  /*align-self: center;*/
  display: inline-block;
  overflow: none;
  margin: 0;
  width: auto;
  /*height: 25%;*/
  list-style-position: inside;
  /*padding: 10px;*/
}

.gallery img{
  overflow: none;
  list-style-position: inside;
  max-width: 80px;
  max-height: 80px;
  height: auto !important;
  padding: 10px;
}

.gallery-big img{
  overflow: none;
  list-style-position: inside;
  max-width: 200px;
  max-height: 200px;
  height: auto !important;
  padding: 10px;
}

.gallery-list {
  background-color: #222;
}

#thumbs li {
  display: inline-block;
  /*float: left;*/
  overflow: none;
  margin: 0;
  /*width: 25%;
  height: 25%;*/
  list-style-position: inside;
}

.controls{
  width:50px;
  display:block;
  font-size:12px;
  padding-top:8px;
  font-weight:bold;
}
.next {
  float:right;
  text-align:right;
}
.previous {
  float:left;
  text-align:left;
  margin-top: -40px;
}

.gallery-popup{
  padding: 8px;
}

.contact{
  border-style: solid;
  boder-coler: white;
  margin-top: 50px;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

.big-type{
  font-size: 140%;
}

.med-type{ font-size: 110%;}

.bio-type{
  font-size: 110%;
  /*font-size: 3.2vw;*/
}

@media screen and (min-width: 20px) and (max-width: 600px) {
  @viewport { width: 600px; }
    h1 { font-size: 140%; }
    h3 { font-size: 104%; }
    .headline { font-size: 104%;}
    .big-type { font-size: 90%;}
    .med-type { font-size: 80%;}

    .bio-type{
      font-size: 75%;
      /*font-size: 3.2vw;*/
    }

    .credits li {
      /*align-self: center;*/
      list-style:none;
      font-size: 75%;
      display: inline-block;
      float: left;
      margin: 0;
      width: 50%;
      padding: 10px;
    }

    .no-zoom {
      font-size: 12px !important;
    }

    input:focus, textarea:focus { font-size: 12px !important}

    input[type='text'],
    input[type='number'],
    textarea {
      font-size: 12px !important;
    }

  }

.social-icon {
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(1.3);
  }

a img.social-icon:hover {
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(.8);
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}*/
